*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html , body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: pink; */

    & #nav{
        height: 10%;
        width: 100%;
        /* background-color: rgb(128, 27, 27); */
        display: flex;
        justify-content: flex-end;
        gap:20px;
        padding: 10px 30px;
    }
    & h4{
        font-size: 20px;
    }
    &  h4>i{
        background-color: black;
        padding:10px 10px;
        color:white;
        border-radius: 50%;
    }

}
#inner{
    font-size:30px;
    font-weight:600;
    /* background-color: red; */
    
}
#inner-box{
    /* background-color: red; */
    margin-top: 40px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
}
#inner-box1{
    width: 20%;
    /* background-color:yellow; */
    text-decoration: none;
}
.ele{
    padding: 10px 20px;
    border-top: 3px solid black;
   
}
.ele a{
    text-decoration: none;
    color:black;
   align-items: end;
  
}
#footer{
    height:40vh;
    width: 100%;
    background-color: red;
    margin-top:30px;

    & img{
        object-fit:cover;
        height:40vh;
        width: 100%;
    }
}
